:root {
  --main-bg: #121212;
  --card-bg: #1e1e1e;
  --text-color: #e0e0e0;
  --gold-accent: #ffd700;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:var(--main-bg) ;
}

.card{
  border: 1px solid var(--gold-accent );
  background-color: var(--card-bg);
  border-radius: 40px;
  margin: 20px;
  padding: 30px;
}

.card p{
  margin: 20px;
}

.card ul li{
  list-style: none;
}

h1,h2,h3,p,span,li,h4{
  color :var(--text-color);
  margin: 5px;
}

img {
  width: auto;
  height: 150px;
  margin:10px;
  margin-top: 10px;
  object-fit: contain;
}

h3{
  color: #b8860b ;
  font-size: x-large;
}

hr{
  margin: 10px;
}


p,li,h4{
  font-size: larger;
}

h4{
  margin: 5px;
  color:#b8860b ;
  font-size: larger;
}

.All-time-trophies {
  list-style: none;
}

table{
  color: var(--text-color);
  border-collapse: collapse;
  border: #121212;
  padding: left 30px;;
}

td,tr{
  padding: 6px;
  border : 1px solid #b8860b ;
  white-space: nowrap;
  overflow:auto ;
}

td{
  margin: 5px;
  border: 1px solid #b8860b ;
}

caption{
  padding-bottom: 15px;
}

th{
  background-color: #b8860b;
  color: var(--main-bg);
  padding: 10px;
  margin:8px;
  text-align: center;
  border:  1px solid var(--main-bg);
}

th:last-child{
  border-right: none;
}

td:first-child{
  background-color: #b8860b ;
  color : var(--main-bg);
  border: 1px solid var(--main-bg);
}

td{
  text-align: center;
}
 
.intro{
  margin:10px;
}

h2{
  padding: 10px;
}

hr{
  border:none;
  height: 3px;
  background-color: #b8860b;
  margin-top:10px ;
  padding: none;
  width: 100%;
  margin-left: auto;
}

h1{
  color:#b8860b;
}

.the-intro-photo{
  padding-left:0;
}

li:nth-child(4) ul li{
  font-size: medium;
}

.main-content {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.messi-info{
  border: 1px solid var(--gold-accent);
  background-color: var(--card-bg);
  border-radius: 40px ;
  width: 500px;
  padding: 25px;
  letter-spacing: 1px;
  margin: 20px;
  
}

.messi-info ul li{
  list-style: none;
  margin: 10px;
}

.messi-info span{
  font-size: x-large;
  color: #b8860b;
}

.top-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 40px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  width: 48%;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  width: 48%;
}

.the-intro-photo{
  align-self: flex-start;
    margin-left: 5px;
}

.card:hover{
  background-color: #2f2f2f;
  transition: background-color 0.2s ease;
}

.messi-info:hover{
  background-color: #2f2f2f;
  transition: background-color 0.2s ease;
}

