h1 {
  color: rgb(0, 153, 255);
}

h2 {
  color: rgba(87, 10, 143, 0.986);
}

img {
  width: 100px;
  height: 100px;
}

#1st {
  color: crimson
}

table {
  background-color: rgb(0 0 44);
  /* background-image: url("../images/download.jfif") */
}